@import "constants";

.admin{
  display: flex;
  position: relative;
  //flex-direction: column;
  margin: 2em auto 30px auto;
  padding: $indent $indent $indent;
  width: 90vw;
  min-height: 80vh;
  background: $color1;
  -webkit-box-shadow: 0 5px 33px -5px rgb(0, 0, 0);
  -moz-box-shadow: 0 5px 33px -5px rgb(0, 0, 0);
  box-shadow: 0 5px 33px -5px rgb(0, 0, 0);
  border-radius: $indent;
  text-align: center;
  .flex_elem
  {
    width: 33%;
    margin: 0 $indent;
    @media (max-width: 768px)
    {
      width: 80%;
    }
  }
  .update
  {
    display: flex;
    flex-direction: column;
    width: 67%;
    @media (max-width: 768px)
    {
      width: 90%;
      margin: auto;
    }
    .lists
    {
      display: flex;
      width: 100%;
      justify-content: space-around;
      @media (max-width: 768px)
      {
        flex-direction: column;
      }
      .list {
        background-color: white;
        border-radius: $indent;
        border: 3px solid $color3;
        height: 293px;
        width: 250px;
        margin: auto;
        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: $indent;
        }
        overflow-y: scroll;
        text-align: left;
        text-decoration: none;
        list-style-type: none;

        ::-webkit-scrollbar {
          display: none;
        }

        .li_elem {
          padding: 8px;
          border-radius: $indent;

          &:hover {
            background-color: darken(white, 5%);
            cursor: pointer;
          }
        }

        .select {
          font-weight: bold;
        }
      }
    }

  }

  h3, h4, h5, h6{ margin: 0 $indent $indent;}
  @media (max-width: 768px) {
    width: 90vw;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .chrome-picker
  {
    margin: $indent/2 auto 0 auto;
  }

}

.send
{
  //position: absolute;
  //left: 50%;
  //transform: translateX(-50%);
  //bottom: 0;

  margin: $indent*2 auto;
  @media (max-width: 768px) {
    margin: $indent auto;
  }
}

.flex_del
{
  display: flex;
  justify-content: space-between;
  margin: $indent*0.80 auto;
  width: 100%;
  @media (max-width: 768px) {
   flex-direction: column;
  }
}
._second{
  margin: 1em auto;
  display: block;
  input{
  margin: 0;
    float: bottom;
  }
}
.checkbox
{
  margin: $indent auto;

  [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    background-color: white;
    border: 3px solid $color3;
  }

  [type="checkbox"].filled-in:checked + span:after {
    border: 3px solid $color2;
    background-color: white;
  }


  [type="checkbox"]+span:not(.lever) {
    line-height: 15px;
    color:$text_color;
  }
  span{
    margin: $indent/2 auto;
  }

  [type="checkbox"].filled-in:checked+span:not(.lever):before {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.range
{
  display: flex;
  p{
    margin: auto;
    width:15%;
  }

  input[type=range]{
    border: 2px solid white;
    border-radius: 5px;
    width: 70%;
    @media (max-width: 768px) {
      width: 40%;
    }
    @media (max-width: 1180px) {
      width: 50%;
    }
  }

  input[type=range] + .thumb
  {
    background-color: $color2 !important;
  }

  input[type=range]::-webkit-slider-runnable-track {
    background: white;
  }

  input[type=range]::-webkit-slider-thumb{
    background-color: $color3;
  }


}