@import "constants";
* { margin: 0; padding: 0;}

body, html{
  min-height: 100vh;
  width: 100%;
}
body
{
  background: linear-gradient(to top, $color2 0%, $color3 100%) no-repeat fixed;
  color: black;
  position: relative;
}



